:root {
  /* colors */
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --white: #ffffff;
  --black: #000000;
  /* fonts */
  --quicksand: 'Quicksand', sans-serif;
  --roboto: 'Roboto', sans-serif;
}
